.cabezera {
  background-color: rgb(38, 37, 53);
  color: white;
}
.cabezera h1 {
  font-size: 1.5rem;
  margin-right: 6rem;
}
.cabezera a {
  color: white;
  font-size: 1.1rem;
}
.cabezera a:hover {
  color: rgba(31, 151, 31, 0.991);
}
.cabezera .btn {
  color: white;
}
.cabezera .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(31, 151, 31, 0.797)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.menu-desplegable {
  border: 1px solid white;
  box-shadow: none;
}
.menu-desplegable:hover {
  background-color: rgba(11, 12, 71, 0.608);
}

footer {
  background-color: rgb(38, 37, 53);
}

.contenedor-footer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contenedor-footer h2 {
  font-size: 5rem;
  color: white;
}
.contenedor-footer .contenedor-ul {
  display: flex;
  align-items: center;
}
.contenedor-footer ul {
  display: flex;
  gap: 1rem;
  padding: 0;
}
.contenedor-footer a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.contenedor-footer a:hover {
  color: rgba(31, 151, 31, 0.991);
}
.contenedor-footer .contenedor-redes {
  display: flex;
  align-items: center;
}

main {
  overflow: hidden;
}

footer {
  overflow: hidden;
}

.contenedor-img-entrada {
  background-image: url(../img/imagen-entrada.webp);
  width: 100%;
  height: 40rem;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-img-entrada .contenedor-texto-img-entrada {
  margin: 1rem;
}
.contenedor-img-entrada h2 {
  font-size: 6rem;
  color: rgb(6, 90, 6);
}

.card-index {
  margin: 4rem;
  margin-top: 5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
  justify-content: space-around;
}
.card-index .card {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.card-index .img-card {
  height: 13rem;
}
.card-index a {
  font-size: 1.2rem;
}
.card-index a:hover {
  background-color: rgb(48, 36, 97);
}

.contenedor-carrusel {
  width: auto;
  margin: 1rem;
}
.contenedor-carrusel .img-carrusel {
  width: 100%;
  height: 20rem;
}
.contenedor-carrusel .carusel {
  margin: 3rem;
}

.boton {
  background-color: rgb(38, 37, 53);
  width: 80%;
}

.contenedor-main-nosotros {
  margin: 2rem;
}

.Contenedor-titulo-productos h2 {
  font-size: 3rem;
}

.contenedor-principal-card, .Contenedor-titulo-productos {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.contenedor-principal-card .contenedor-contenido-card, .Contenedor-titulo-productos .contenedor-contenido-card {
  margin-bottom: 1rem;
}
.contenedor-principal-card .card:hover, .Contenedor-titulo-productos .card:hover {
  position: relative;
  bottom: 1px;
  box-shadow: 10px 10px 20px black;
}
.contenedor-principal-card img, .Contenedor-titulo-productos img {
  width: 15rem;
  height: 10rem;
  margin: 1.5rem;
}

.contenedor-card-descarga {
  margin: 4rem;
  gap: 2rem;
}
.contenedor-card-descarga .boton-descarga {
  background-color: rgb(38, 37, 53);
}
.contenedor-card-descarga .boton-descarga:hover {
  background-color: rgb(48, 36, 97);
}
.contenedor-card-descarga .boton-descarga:hover:hover {
  position: relative;
  bottom: 1px;
  box-shadow: 10px 10px 20px black;
}

.contenedor-main-contacto {
  margin: 1px;
  background-image: url(../img/fondo-contacto.jpg);
  width: auto;
  background-size: 100% 100%;
  display: flex;
  justify-content: end;
}
.contenedor-main-contacto .contenedor-formulario-principal {
  width: 35rem;
  height: auto;
  background-color: rgba(3, 3, 14, 0.662);
  box-shadow: 10px 10px 50px rgb(22, 22, 45);
  color: white;
  overflow: hidden;
  padding: 3.5rem;
}
.contenedor-main-contacto .contenedor-formulario-principal .contenedor-formulario-secundario {
  display: flex;
  flex-flow: column wrap;
  gap: 0.2rem;
}
.contenedor-main-contacto .contenedor-formulario-principal .contenedor-formulario-secundario input:not([type=submit]) {
  border: none;
  border-bottom: 2px solid white;
  background-color: initial;
  color: white;
}
.contenedor-main-contacto .contenedor-formulario-principal .contenedor-formulario-secundario .boton-formulario {
  width: 8rem;
  background-color: rgba(31, 151, 31, 0.991);
  border: 1px solid rgb(6, 90, 6);
  margin-bottom: 3.5rem;
}
.contenedor-main-contacto .contenedor-formulario-principal .contenedor-formulario-secundario .boton-formulario:hover {
  position: relative;
  bottom: 1px;
  background-color: rgb(50, 162, 50);
}
.contenedor-main-contacto .contenedor-formulario-principal .contenedor-formulario-secundario textarea {
  background-color: initial;
  color: white;
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
  margin-top: 1rem;
  height: 10rem;
  resize: none;
}
.contenedor-main-contacto .contenedor-informacio {
  width: auto;
}
.contenedor-main-contacto .contenedor-informacio h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.contenedor-main-contacto .contenedor-informacio .info-contacto {
  font-weight: bolder;
}

@media (max-width: 1237px) {
  .contenedor-img-entrada h2 {
    font-size: 5rem;
  }
}
@media (max-width: 1037px) {
  .contenedor-img-entrada {
    height: 32rem;
  }
  .contenedor-img-entrada h2 {
    font-size: 4rem;
  }
}
@media (max-width: 835px) {
  .contenedor-img-entrada {
    height: 32rem;
  }
  .contenedor-img-entrada h2 {
    font-size: 3rem;
  }
}
@media (max-width: 635px) {
  .contenedor-img-entrada {
    height: 32rem;
  }
  .contenedor-img-entrada h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 347px) {
  .contenedor-img-entrada {
    height: 32rem;
  }
  .contenedor-img-entrada h2 {
    font-size: 2rem;
  }
}
@media (max-width: 443px) {
  .contenedor-footer a {
    font-size: 1.1rem;
  }
}
@media (max-width: 600px) {
  .contenedor-carrusel {
    height: 9rem;
  }
  .contenedor-carrusel .img-carrusel {
    width: 100%;
    height: 8rem;
  }
  .contenedor-carrusel .carusel {
    margin: 1rem;
  }
}
@media (max-width: 1263px) {
  .contenedor-principal-card, .Contenedor-titulo-productos {
    justify-content: space-around;
  }
}
@media (max-width: 737px) {
  .contenedor-card-descarga {
    margin: 1rem;
  }
  .contenedor-card-descarga .contenedor-contenido-item-descarga {
    width: 16rem;
    display: flex;
  }
  .contenedor-card-descarga .contenedor-contenido-item-descarga .card-item {
    width: 10rem;
    align-items: center;
  }
  .contenedor-card-descarga .contenedor-contenido-item-descarga .card-item img {
    width: 10rem;
  }
}
@media (max-width: 575px) {
  .contenedor-card-descarga {
    margin: 1rem;
  }
  .contenedor-card-descarga .contenedor-contenido-item-descarga {
    width: 12rem;
    height: 18rem;
    display: flex;
  }
  .contenedor-card-descarga .contenedor-contenido-item-descarga .card-item {
    width: 10rem;
    align-items: center;
  }
  .contenedor-card-descarga .contenedor-contenido-item-descarga .card-item img {
    width: 8rem;
  }
}
@media (max-width: 446px) {
  .contenedor-card-descarga {
    margin: 1rem;
  }
  .contenedor-card-descarga .contenedor-contenido-item-descarga {
    width: 17rem;
    height: 22rem;
    display: flex;
  }
  .contenedor-card-descarga .contenedor-contenido-item-descarga .card-item {
    width: 14rem;
    align-items: center;
  }
  .contenedor-card-descarga .contenedor-contenido-item-descarga .card-item img {
    width: 11rem;
  }
}

/*# sourceMappingURL=style.css.map */
