$color_1 : white;
$color_2 : rgb(38, 37, 53); 
$color_3 : rgba(31, 151, 31, 0.991);
$color_4 : rgb(6, 90, 6);
$color_5 : black;
$color_6 : rgba(3, 3, 14, 0.662);
$color_7 : rgb(50, 162, 50);
$font_size_nav : 1.5rem;
$hover_botones_card : rgb(48, 36, 97);